<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p>
            <a href="mailto:rahul@gopinath.org">rahul@gopinath.org</a><br />
            <a href="http://dblp.uni-trier.de/pers/hd/g/Gopinath:Rahul">DBLP</a>
        </p>
      </div>

      <div class="footer-col  footer-col-2">
        <p>
        <a href="https://github.com/vrthra">Github</a> <br/>
        <a href="http://codereview.stackexchange.com/users/12593/rahul/">Stack Exchange</a>
        </p>
      </div>

      <div class="footer-col  footer-col-3">
        <p>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Feed</a><br />
            <a href="https://twitter.com/_rahulgopinath">Twitter</a>
        </p>
      </div>

    </div>

  </div>

</footer>
