<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p>
            <a href="mailto:rahul@gopinath.org"><em class='fa fa-envelope-o fa-lg'></em></a>&nbsp;
            <a href="/resources/rahulgopinath.asc"><em class='fa fa-key fa-lg'></em></a>
            <a href="http://keybase.io/rahul"><img src='/resources/keybase.png'></a>&nbsp;
        </p>
      </div>

      <div class="footer-col  footer-col-2">
        <p>
            <a href="https://github.com/vrthra"><em class='fa fa-github fa-lg'></em></a>&nbsp;
            <a href="http://careers.stackoverflow.com/rahulgopinath"><em class='fa fa-stack-overflow fa-lg'></em></a> &nbsp;
            <a href="https://twitter.com/_rahulgopinath"><em class='fa fa-twitter fa-lg'></em></a>
        </p>
      </div>

      <div class="footer-col  footer-col-3">
        <p>
            <a href="http://dblp.uni-trier.de/pers/hd/g/Gopinath:Rahul"><img src='/resources/dblp.png'></img></a> &nbsp;
            <a href="http://www.researchgate.net/profile/Rahul_Gopinath3"><img src='/resources/rg.png'></a> &nbsp;
            <a href='https://www.linkedin.com/in/rahulgopinath'><em class='fa fa-linkedin-square fa-lg'></em></a>&nbsp;
        </p>
      </div>
      <!-- the source for this blog can be found at https://github.com/rahulgopinath/rahulgopinath.github.io.git -->
      <!--div class="footer-col  footer-col-4">
        <p>
        <a href="https://github.com/vrthra.atom"><em class='fa fa-feed fa-lg'></em></a> &nbsp;
        </p>
      </div-->
    </div>

  </div>

</footer>
