<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}">
    {% feed_meta %}
    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/-->
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for rahul.gopinath.com/posts" href="/feed.xml" />
    <link rel="alternate" type="application/atom+xml" title="Atom Feed for rahul.gopinath.com/posts" href="/atom.xml" />

    <script src="/resources/js/jquery.min.js" type="text/javascript"></script>
</head>
